---
layout: default
---


<header class="padded grid text-center tall-100">

{% include header-nav.html %}

 <div class="col-12-center text-center"> 
     <h3 class="font-weight-extra-bold editable">  why <span class="featured-text"> wait </span> </h3>
     <h1 class="font-weight-light editable"> one call away from the perfect night sleep </h1>
 </div>

</header>

<!------------------------------- contact form -------------->
<section class="grid bg-dark light-text padded">
    <div class="col-6_sm-12 padded editable sm-text-center"> 
        <h2 class="editable">  let's <span class="featured-text"> connect </span> </h2>
        <p class="editable text-center"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad suscipit perspiciatis error provident accusamus, doloremque repellendus.</p>
    </div>
   

    <div class="col-6_sm-12 padded editable"> 
    
        <form>
            <input type="text" name="_name" placeholder="Your Name">
            <input type="email" name="_replyto" placeholder="Your Email">
            <textarea name="message" placeholder="Tell us what you need..." rows="4"></textarea>
            
            <div class="text-center"> 
              <button class="button" type="submit">SUBMIT</button>
            </div>
        </form>


    </div>
   </section>


<!--------------------------- image ---------------------------->

<section class="grid padded">
    <div class="bg-image bg-sheets col-6_sm-12_xs-12 ">
         
    </div>

<div class="padded-col-6-middle_sm-12 sm-text-center editable margin-t">
   <h2 class="editable"> so soft you'll <span class="featured-text"> melt </span>   </h2>
   <p class="editable"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nec egestas odio, eget molestie massa. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore dolores quisquam at atque architecto? Corporis optio, molestias nobis voluptas nihil ea, sunt distinctio delectus perspiciatis atque vitae quidem ratione ipsam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla beatae in repellat totam quia cupiditate esse similique! Sit maxime incidunt deserunt dolore doloribus, sequi dolorem, debitis accusantium minus quaerat optio.  </p>
</div>
</section>


<!--------------------- feature icon grid   ------->

<section class="padded grid-center bg-light"> 
 <div class="padded-sm col-12 text-center"> 
    <h2 class="editable"> need help deciding? </h2>
   
 </div>

 <div class="padded-sm col-3_sm-4_xs-12 editable">
    <i class="fas fa-cloud"> </i>
    <p class="sm-text-center editable"> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
 </div>


 <div class="padded-sm col-3_sm-4_xs-12 editable">
    <i class="fas fa-cloud"> </i>
    <p class="sm-text-center editable"> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
 </div>

 <div class="padded-sm col-3_sm-4_xs-12 editable">
    <i class="fas fa-cloud"> </i>
    <p class="sm-text-center editable"> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
 </div>


</section>





<!------------------------------- other contact form design  
{% include image-banner.html %}

<div class="col-12-middle text-center"> 
    <form class="form-style-two"   action="https://formspree.io/f/meqvrneg" method="POST"> 
      <label for="_name"> </label>
      <input type="text" name="_name" id="_name" placeholder="FULL NAME" />
      
      <label for="_replyto"> </label>
      <input type="email" name="_replyto" id="_replyto" placeholder="EMAIL ADDRESS" />
      
      <label for="_message">  </label>
      <textarea name="_message" id="_message" placeholder= MESSAGE ></textarea> 
      
      <button type="submit" class="button" > GET IN TOUCH </button> 
      
      </form>
    </div>


    ---------------->