---
layout: default
popup-gallery: true
gallery-background: bg-dark 
gallery:
  - column-size: col-4_sm-12
    aspect-ratio: landscape
    background_image: /images/wowwave.jpg
  - column-size: col-4_sm-12
    aspect-ratio: landscape
    background_image: /images/frangipani.jpg
  - column-size: col-4_sm-12
    aspect-ratio: landscape
    background_image: /images/shadow.jpg
  - column-size: col-12
    aspect-ratio: landscape
    background_image: /images/wowsea.jpg
  - column-size: col-6_sm-12
    aspect-ratio: square
    background_image: /images/texture.jpg
  - column-size: col-6_sm-12
    aspect-ratio: square
    background_image: /images/wowisla.jpg
---

<!--------------------------- Header Banner --------------------------------------------->
    <header class="padded grid text-center tall-100">
    
        {% include header-nav.html %}
    
        <div class="col-12 text-center editable"> 
            <h3 class="font-weight-extra-bold editable">
                <span class="featured-text"> addictively </span> <span> soft </span>
            </h3>
            
        </div>
    
    </header>



{% if page.popup-gallery == true %}

   <!-- popup gallery-->
<section class="padded {{page.gallery-background}}">
  <!-- if I had to code for clients {% if page.gallery-background == 'Dark Background'%} bg-dark {% endif %} -->

  <div class="gallery grid" id="lightgallery">

    {% for item in page.gallery %}
         <a class="{{item.column-size}} gallery-item" href="{{item.background_image}}">
           <div class="bg-image {{item.aspect-ratio}}" style="background-image: url('{{item.background_image}}');"> 
           </div>
          </a> 
 
         {% endfor %}
 
       </div>

</section>


{% else %}



<!-- standard gallery-->
<section class="padded {{page.gallery-background}}"> 
    <div class="gallery grid">

   {% for item in page.gallery %}
        <div class="{{item.column-size}}">
          <div class="bg-image {{item.aspect-ratio}}" style="background-image: url('{{item.background_image}}');"> 
          </div>
        </div> 

        {% endfor %}

      </div>
</section>


{% endif %}


<!------------------------------- testimonial section ------------------------------->
{% include testimonial.html %}

<!--
    <div class="gallery grid" id="lightgallery-2">

      
        <a class="button" href="/images/frangipani.jpg" title="0">
          View Our Work
         </a> 

         <a href="/images/seapalm.jpg" title="1"></a> 
         <a href="/images/wowisla.jpg" title="2"></a> 
         <a href="/images/shadow.jpg" title="3"></a> 
         <a href="/images/wowsea.jpg" title="4"></a> 
         <a href="/images/texture.jpg" title="5"></a> 
         <a href="/images/wowwave.jpg" title="6"></a> 
       

    </div>    -->




  <!-- <div class="gallery grid">
        <div class="col-6">
          <div class="bg-image square bg-img-1"></div>
        </div> 
        <div class="col-6">
          <div class="bg-image square bg-img-2 bg-pos-b"></div>
        </div> 
        <div class="col-4_xs-12">
          <div class="bg-image portrait-tall bg-img-3"></div>
        </div> 
        <div class="col-4_xs-12">
          <div class="bg-image portrait-tall bg-img-4"></div>
        </div> 
        <div class="col-4_xs-12">
          <div class="bg-image portrait-tall "></div>
        </div> 
        <div class="col-12">
          <div class="bg-image landscape bg-img-5"></div>
        </div> 
      </div>
      --> 


