---
layout: default
cards:
  - heading: Small Heading
    description: Lorem ipsum dolor sit amet consectetur adipisicing elit.
    featured_image: /images/frangipani.jpg
  - heading: Small Heading
    description: Lorem ipsum dolor sit amet consectetur adipisicing elit.
    featured_image: /images/texture.jpg
  - heading: Small Heading
    description: Lorem ipsum dolor sit amet consectetur adipisicing elit.
    featured_image: /images/the-sleep-co-bed.jpg
---

<!------------------ header banner------------------------>
    <header class="padded grid text-center tall-100">

 {% include header-nav.html %}

    <div class="col-12 text-center editable"> 
        <h3 class="font-weight-extra-bold editable">
            <span class="featured-text editable"> Ultimate level </span> mattress 
        </h3>
        <h1 class="font-weight-light editable">
            the softest mattress membership
        </h1>
    </div>
</header>



<!--------------- Clickable Images  --------------->
<section class="grid padded">
    {% for item in page.cards %}
    <div class="col-4_sm-12">
        <div class="card">
            <div class="tall-50 bg-pos-t bg-image" style="background-image: url('{{item.featured_image}}')"></div>
            <div class="padded-1 margin-top">
                <h3>{{item.heading}}</h3>
                <p>{{item.description}}</p>
            </div>
        </div>
    </div>
    {% endfor %}
    
 </section>



<!------------------------------- imege banner -------------------------------------->
{% include image-banner.html %}


<!------------------------------- testimonial section ------------------------------->
{% include testimonial.html %}

