/* 
Colors:
Yellow: #FFBE00;
Navy: #192B37;
*/

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}



body {
   font-family: 'Catamaran', sans-serif;
   color: #192B37;
}

/* image styles */

.bg-image {
   background-image: url('/images/the-sleep-co-pug.jpg');
   background-size: cover;
   min-height: 10rem;
   background-color: rgb(240,240,240);
   background-position: center;

}

/* Universal styles & utility classes */

.padded         { padding: 5%; }
.padded-sm      { padding: 1rem; }
.padded-lg      { padding: 10%; }



/* Padding Utility Classes */ 
.padded-sm { padding: 2.5%; }
.padded    { padding: 5%;   }
.padded-lg { padding: 10%;  }

.padded-05 { padding: 0.5rem; }
.padded-1  { padding: 1rem; }
.padded-2  { padding: 2rem; }

.padded-t  { padding-top: 5%; }
.padded-b  { padding-bottom: 5%; }
.padded-l  { padding-left: 5%; }
.padded-r  { padding-right: 5%; }

.padded-tb  { padding-top: 5%; padding-bottom: 5%; }
.padded-lr  { padding-left: 5%; padding-right: 5%; }

.padded-t-1 { padding-top: 1rem; }
.padded-b-1 { padding-bottom: 1rem; }
.padded-l-1 { padding-left: 1rem; }
.padded-r-1 { padding-right: 1rem; }

.padded-t-2 { padding-top: 2rem; }
.padded-b-2 { padding-bottom: 2rem; }
.padded-l-2 { padding-left: 2rem; }
.padded-r-2 { padding-right: 2rem; }

.padded-t-0 { padding-top: 0; }
.padded-b-0 { padding-bottom: 0; }
.padded-l-0 { padding-left: 0; }
.padded-r-0 { padding-right: 0; }





/* Margin Utility Classes */ 

.margin-t { margin-top: 5%; }
.margin-b { margin-bottom: 5%; }
.margin-l { margin-left: 5%; }
.margin-r { margin-right: 5%; }

.margin-t-1 { margin-top: 1rem; }
.margin-b-1 { margin-bottom: 1rem; }
.margin-l-1 { margin-left: 1rem; }
.margin-r-1 { margin-right: 1rem; }

.margin-t-2 { margin-top: 2rem; }
.margin-b-2 { margin-bottom: 2rem; }
.margin-l-2 { margin-left: 2rem; }
.margin-r-2 { margin-right: 2rem; }

.margin-t-0 { margin-top: 0; }
.margin-b-0 { margin-bottom: 0; }
.margin-l-0 { margin-left: 0; }
.margin-r-0 { margin-right: 0; }

.margin-tb { margin-top: 5%; margin-bottom: 5%; }
.margin-lr { margin-left: 5%; margin-right: 5%; }





.bg-dark {
   background-color: #192B37;
   color: white;
}

.bg-featured {
  background-color: #FFBE00;
}

.bg-light {
  background-color: #E3ECF2;
}

.tall-50  { min-height: 50vh; }
.tall-60  { min-height: 60vh; }
.tall-70  { min-height: 70vh; }
.tall-80  { min-height: 80vh; }
.tall-90  { min-height: 90vh; }
.tall-100 { min-height: 100vh; }




/* Background Position */
.bg-pos-t { background-position: top; }
.bg-pos-b { background-position: bottom; }
.bg-pos-l { background-position: left; }
.bg-pos-r { background-position: right; }





/* image gallery */

.gallery [class*="col-"] {
  padding: 0.5%;
}

.gallery .gallery-item {
border-bottom: none;
}


/* background of gallery when active */
.lg-backdrop {
  background-color: rgb(20, 20, 20);
}

.lg-backdrop.in  {
  opacity: 0.95;
}

.lg-sub-html {
  background-color: rgba(20, 20, 20, 0.95);
}


/* Typography Styles */

h2 {
   font-size: 2.5rem;
   line-height: 1.1;
   margin-bottom: 1rem;
}

h3 {line-height: 1;}

p {
   font-weight: 200;
   line-height: 1.5; 
   margin-bottom: 1rem;
}

p:last-child { margin-bottom: 0;}

a {
   color: inherit;
   text-decoration: none;
   padding: 0.4rem;
   
}

a:hover { color: #FFBE00;  }





.featured-text { color: #FFBE00;}
.white-text { color: white; }

.small-text { font-size: 1.5rem; }
.medium-text { 
   font-size: 2.2rem;
   line-height: 1.1;
}
.big-text { font-size: 4.5rem;  }

.subtitle { 
   font-size: 1.2rem;
   color: rgb(120,120,125);
}

.quote-icon { 
   font-size: 6rem;
   display: inline-block;
   line-height: 1;
   color: rgb(120,120,125); 
 }



.font-weight-light      { font-weight: 200; }
.font-weight-normal     { font-weight: normal; }
.font-weight-extra-bold { font-weight: 800; }

.text-left   { text-align: left; }
.text-center { text-align: center; }
.text-right  { text-align: right; }


/* Header & Footer Styles */

header {
   background-image: url('/images/the-sleep-co-bed.jpg');
   background-size: cover;
   background-position: center;

} 

header h3 {
   font-size: 5.5rem;
   line-height: 1;
}

footer a { border: none;}


nav a { 
  padding: 0.5rem;
  display: inline-block;
  border: none;
}




 /* copyright */ 
 .subtle { 
  opacity: 0.8;
  font-size: 0.4rem;
  text-align: center;
  text-transform: uppercase;
  
 }


/* Background-images  */

.bg-bed    { background-image: url('/images/the-sleep-co-black.jpg');  }  

.bg-pillow { 
   background-image: url('/images/the-sleep-co-pillow.jpg'); 
   background-position: 50% 90%;
}

.bg-frangipani {
   background-image: url('/images/the-sleep-co-frangipani.jpg');
   background-position: 50% 10%;
}

.bg-sheets {
   background-image: url('/images/texture.jpg');
   background-position: 50% 90%;
}



/* Aspect Ratio  */
.portrait-tall { padding-bottom: 175%; }
.portrait { padding-bottom: 125%; }
.square { padding-bottom: 100%; }
.landscape { padding-bottom: 66%; }
.landscape-wide { padding-bottom: 56%; }


/* Icon Grid */ 
.fas {
   display: block;
   text-align: center;
   margin-bottom: 3rem;
   font-size: 3rem;
}



/* contact */
input, 
textarea {
  width: 100%;
  display: block;
  margin-bottom: 0.3rem;
  padding: 0.5rem;
  font-family: inherit;
  font-size: 0.9rem;
  border: 2px solid transparent;
  text-align: center;
}

input:focus,
textarea:focus {
  border: 2px solid #FFBE00;
  outline: none;
}

.button {
  padding: 0.5rem 2rem;
  background-color: #FFBE00;
  appearance: none;
  border: 2px solid #FFBE00;
  color: inherit;
}






 


.button { background-color: #FFBE00;}

.button:hover { background-color: transparent; }


.card { margin: 3rem; }

.margin-top { margin-top: 1.5rem;}


.center { text-align: center;}





/* hamburger menu */

.hamburger-button::after {
   content: "☰";
   cursor: pointer;
   padding: 0 0.5rem;
   display: inline-block;
   font-weight: 200;
   font-size: 2.5rem;
   line-height: 0.8;
   margin-top: 0.9rem;
   position: absolute;
   right: 1rem;
   top: 2.1rem;
   z-index: 2;
 }
 
 .hamburger-button.active::after {
   content: "x";
   color: white;
 }
 
 .mobile-menu {
   display: none;
   background-color: #e0fbfc;
   padding: 5%;
   position: fixed;
   right: 0;
   top: 0;
   bottom: 0;
   left: 0;
   text-align: center;
 }
 
 .mobile-menu a {
   text-decoration: none;
   color: inherit;
   padding: 5vh 5%;
   display: block;
   font-weight: normal;
   font-size: 0.8rem;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
 
 
 .inline, .mobile-menu .inline {
   display: inline;
   margin-top: 3%;
   
 }
 
 .social-links a { display: inline;}
 
 
 



 /* General CSS Responsive Styles (Apply everywhere unless overridden) */ 
 
 .show-xs, 
 .show-sm,
 .show-md 
 .mobile-menu {
    display: none;
 }
 /* Default Responsive Styles (Desktop and below) */
 
 .mob-show {
   display: none;
 }
 
  

 
 
 /* ------- SM Media Query (48em / 768px) --------------- */ 
 @media(max-width:48em) {
   .hide-sm { display: none; }
   .show-sm { display: block; }
 }
 



 /* ------- MD Media Query (64em / 1024px) --------------- */ 
 /* - Styles added here will apply at devices smaller than 576px, or zoomed in equivalent */ 
 
 @media (max-width: 64em) {
   .show-md { display: block; }
   .hide-md { display: none;  }
 }
 
 
 
 /* - Styles added here will apply at devices smaller than 768px, or zoomed in equivalent */ 
 
     
   .sm-text-center { text-align: center; }
   .sm-text-left { text-align: left; }
   .sm-text-right { text-align: right; }
 
   .sm-padded { padding: 5%; }
   .sm-padded-1 { padding: 1rem; }
   .sm-padded-05 { padding: 0.5rem; }
 
   .sm-padded-t-0 { padding-top: 0; }
   .sm-padded-b-0 { padding-bottom: 0; }
   .sm-padded-l-0 { padding-left: 0; }
   .sm-padded-r-0 { padding-right: 0; }
   .padded-r-5 { padding-right: 5rem; }
   
   .sm-margin-t-0 { margin-top: 0; }
   .sm-margin-b-0 { margin-bottom: 0; }
   .sm-margin-l-0 { margin-left: 0; }
   .sm-margin-r-0 { margin-right: 0; }
 


 
 /* ------- XS Media Query (36em / 576px) --------------- */ 
 /* - Styles added here will apply at devices smaller than 576px, or zoomed in equivalent */ 
 
 @media (max-width: 36em) {
   .show-xs { display: block; }
   .hide-xs { display: none;  }
 }
 
 
 
 .margin-bottom { margin-bottom: 2.5rem;}






/* cookie banner  */

 #cookie-notice {
  padding: 0.5rem 1rem;
  display: none;
  text-align: center;
  position: fixed;
  left: 1rem;
  right: 1rem;
  bottom: 0;
  width: calc(100% - 2rem);
  background: #222;
  color: rgba(255,255,255,0.8);
}
#cookie-notice a {
  display: inline-block;
  cursor: pointer;
  margin-left: 0.5rem;
}
#cookie-notice .button-subtle {
opacity: 0.8;
}
#close-cookie-banner {
padding: 1rem;
cursor: pointer;
font-size: 0.8rem;
opacity: 0.5
}





 /* other contact page style 

 form input,
 form textarea {
   width: 100%;
   margin: 0.5rem 0;
   padding: 0.5rem;
   border: 2px solid rgb(220,220,220);
   outline: none;
   font-family: inherit;
   font-size: 0.8rem; 
   font-weight: bold;
 }
 
 form input:focus,
 form textarea:focus {
   border-color: teal;
 }
 
 textarea {
   min-height: 8rem;
   
 }
 
 form label {
   margin-top: 1rem;
   display: block;
   color: #6C7A89;
   font-weight: bold;
   text-transform: uppercase;
   
 }
 
 form button {
   background-color: #6C7A89;
   color: white;
   border: none;
   padding: 0.5rem 2rem;
   margin: 0.5rem 0;
 }
 
 
 
 .form-style-two input,
 .form-style-two textarea {
   border: 2px solid #f8edeb;
   background-color: #f8edeb;
   text-align: center;
 }

 .form-style-two button {
   border: 2px solid #f8edeb;
   background-color: #ff985f;
   color: #f8edeb;
   font-size: 0.6rem;
   letter-spacing: 0.02em;
   font-weight: light;
   
 }
 
 form input:focus,
 form textarea:focus {
   border-color: #f8edeb;
 }



 */ 