<!--

<header class="grid {{page.header-image}} {{page.header-height}}">

    <div class="header-nav col-12-top grid"> 
        <div class="col-5_sm-12 text-left sm-padded">
             <a href="index.html" class="logo"> </a>
             <h2> The Sleep Co </h2>
        </div>
    
    
     <nav class="col-7_sm-12 text-right ">
        <a href="/index.html/"> Home </a>
        <a href="/about.html/"> About </a>
        <a href="/products.html/"> our Products </a>
        <a href="/contact.html/"> Contact </a>
     </nav>
     
    </div>

     <div class="col-12-middle text-center"> 
         <h3>  why <span class="featured-text"> wait </span> </h3>
         <h4> one call away from the perfect night sleep </h4>
     </div>
</header>


---
header-height: tall-60
header-image: bg-sheets
header-heading:
header-subtitle:
---

-->